<!DOCTYPE html>
<html lang="en">
<head>

  <title>about mealplanner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  

</head>

<body>
<div class="container-fluid">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">


      <li class="nav-item">
        <a class="nav-link" href="/about">about</a>
      </li>
    </ul>
  </div>  
</nav>
</div>

<div class="container-fluid">
  <h2>Motivation of the Project</h2>
  <p>Food is the most important part of our life. Through foods, we get our nutrition that runs and maintain our body. Making healthy dietary choices can help us feel the best and stay active. It can also help you lower your risk of developing some health conditions that are common among older adults. Nutrients can be divided into 2 categories: macronutrients, and micronutrients. Macronutrients are those nutrients that the body needs in large amounts. These provide the body with energy (calories). Micronutrients are those nutrients that the body needs in smaller amounts.</p>
  <p>This web-app helps you to know your daily nutrition consumption in the form of a table and a couple of graphs. Table 1. provides you the amount of nutrients in every food item that you consumed in real units. Figure 1. shows the amount of A) macronutrients vs food item and B) micronutrients vs food item. Figure 2. shows the relationship between Calories(kcal) and macronutrients.</p>
  <p>Making informed food choices have positive effects on your health and wellness. Through this web-app, any individual person or even a commercial company may know about their food items. From this app, you can find out your daily calorie consumption and which food item is providing the most calorie with the least nutrients. Here you can search hundreds of food menu at a time which shows a comparison between them. This graphical representation of comparative food calories and nutrients can be beneficial to any single user or a commercial company to design a dietary plan to lose weight and stay healthy.</p>    
</div>

</body>

</html>